@model PriceLists_Redactor.Models.PriceList

@{
    ViewBag.Title = "Удалить прайс-лист";
}

<h2>Удаление прайс-листа</h2>

<h3>Вы действительно хотите удалить этот прайс-лист?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Название
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-danger" /> |
            @Html.ActionLink("Вернуться", "Index")
        </div>
    }
</div>
