@model PriceLists_Redactor.Models.Item

@{
    ViewBag.Title = "Удалить товар";
}

<h2>Удаление товара</h2>

<h3>Вы действительно хотите удалить этот товар?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            Прайс-лист
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriceList.Name)
        </dd>

        <dt>
            Название
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div>
            <input type="submit" value="Удалить" class="btn btn-danger" /> |
            @Html.ActionLink("Вернуться", "Index")
        </div>
    }
</div>
